/**
* 基础样式
*/
body {
	margin: 0;
	padding: 0;
}

/**
* 头部样式
*/
.veadmin-header {
	background-color: #222;
	height: 45px;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
}

.veadmin-header-container {
	margin: 0px 10px;
	height: 44px;
	line-height: 44px;
}

.veadmin-header-logo {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.veadmin-header-version {
	color: #fff;
	font-size: xx-small;
	margin-left: 4px;
}

.veadmin-header-datetime {
	display: inline-block;
}

.veadmin-header-menu {
	right: 20px;
	position: absolute;
	top: 0;
}
.veadmin-header-menu ul {
	margin: 0 auto;
}
.veadmin-header-menu li {
	color: #fff;
	display: inline-block;
	padding: 0 10px;
}
.veadmin-header-menu li:first-child {
	padding: 0px 0px;
}
.veadmin-header-menu li:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}
.veadmin-header-menu li:first-child:hover {
	background-color: transparent;
	cursor: default;
}
.veadmin-header-menu span {
	margin-left: 2px;
	font-size: medium;
}
/**
* 头部样式end
*/

/**
* 侧边栏样式 
*/
.veadmin-sidebar {
	position: absolute;
	top: 45px;
	bottom: 0;
	left: 0;
	width: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #e3e9f1;
}

/**
* 主要内容样式
*/
.veadmin-content {
	position: absolute;
	top: 45px;
	right: 0;
	bottom: 0;
	left: 200px;
	transition: all 0.2s ease 0s;
}
.veadmin-content-header {
	padding-right: 107px;
	background-color: #efeef0;
	background-position: 0 -177px;
}
.veadmin-content-tab {
	position: relative;
	height: 35px;
	overflow: hidden;
}

.veadmin-content-tab ul {
	position: absolute;
	height: 25px;
	line-height: 25px;
	top: 7px;
	margin: 0;
	padding: 0;
}
.veadmin-content-tab li {
	height: 26px;
	line-height: 26px;
	position: relative;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	padding: 0 30px;
	white-space: nowrap;
	color: #282828;
}

.veadmin-content-tab li:hover {
	background-position: 0 -60px;
}
.veadmin-content-tab li:hover em {
	background-position: right -90px;
}

.veadmin-content-tab li.active {
	background-position: 0 -120px;
	z-index: 99;
}
.veadmin-content-tab li.active em {
	background-position: right -150px;
}
.veadmin-content-tab i {
	position: absolute;
	width: 13px;
	height: 13px;
	top: 50%;
	margin-top: -6px;
	right: 5px;
	cursor: pointer;
}
.veadmin-content-tab i:hover {
	background-position: 0 bottom;
}
.veadmin-content-tab em {
	right: -16px;
	height: 26px;
	width: 16px;
	position: absolute;
	background-position: right -30px;
}

.veadmin-content-button-close-all {
	display: none;
	position: absolute;
	right: 4px;
	top: 3px;
	color: #2d2d2d;
	background-color: #ffc56f;
	border-color: #c1995e;
}

.veadmin-content-iframe-box {
	position: absolute;
	top: 34px;
	bottom: 0;
	left: 0;
	right: 0;
}

.veadmin-content-iframe-box iframe {
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
}

/**
* 主要内容样式end
*/

/**
* iframe标签内部样式
*/
.veadmin-iframe-header {
	background-color: #edeeee;
	padding: 0px 20px;
	position: relative;
	z-index: 99;
	line-height: 35px;
	height: 35px;
	overflow: hidden;
	font-size: small;
}

.veadmin-iframe-button {
	padding: 6px;
	margin-left: 2px;
	cursor: pointer;
	border-width: 0px;
	border-radius: 4px;
	background-color: rgba(221, 221, 221, 1);
	border-color: rgba(221, 221, 221, 1);
}
.veadmin-iframe-button:hover {
	background-color: rgba(221, 221, 221, 0.8);
}

.veadmin-iframe-content {
	margin: 0;
	width: 100%;
}

.veadmin-iframe-header-custom-fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}
.veadmin-iframe-content-custom-fixed {
	position: absolute;
	top: 36px;
}
/**
* 主要内容样式end
*/
